
@font-face{
    font-family:"hussar-bold-web-edition";
    src:url("https://candyfonts.com/wp-data/2018/10/11/6345/HussarBoldWeb.otf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/11/6345/HussarBoldWeb.otf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/11/6345/HussarBoldWeb.otf") format("truetype");
}
body {
  -webkit-user-select:none;-moz-user-select:-moz-none;
  -ms-user-select:none;user-select:none;
    background-color: #171717;
  }
label.Name{
    color:white;
  }
label.textcontent{
    color:white;
}
  h1.header {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:"hussar-bold-web-edition";
    color: #EDEDED;
    font-weight:Bold;
    font-size:150px;
    -webkit-text-stroke-width:.4px;
    -webkit-text-stroke-color: #DA0037;
  }
  a.refresh{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EDEDED;
    background:none;
    outline:none;
    font-size:20px;
    font-family:"hussar-bold-web-edition";
  }
  a.refresh:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  a.github{
    text-decoration: none;
    color: #EDEDED;
  }
  p.sig{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #EDEDED;
        font-family:"hussar-bold-web-edition";
        font-size:13px;
    }   
 p.sig:hover{
        text-decoration: underline;
        cursor: pointer;
      }

  p.timer {
    z-index:999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 25px;
    padding-left:150px;
    padding-right:150px;
    padding-bottom: 25px;
    background-color: #DA0037;
    border-color: white;
    outline: 2px solid #EDEDED;
    color: #EDEDED;
    font-family: "hussar-bold-web-edition";
    font-size: 65px;
    text-align: justify;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: #171717;
    opacity:100%
  }
